.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 5%;
}

.container {
  width: 100%;
  text-align: left;
}

.title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 1;
  max-width: 600px;
  margin: 0  0 0 200px;
}

.animatedWrapper {
  position: relative;
  display: block;
  height: 1.2em;
  overflow: hidden;

}

.animatedText {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
}

.animatedText:first-child {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
