.section {
  padding: 80px 5%;
  background: transparent;
  max-width: 1400px;
  margin: auto;
}


.title {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.3;  
  max-width: 800px;
  margin-bottom: 50px;
}

.light {
  color: #BBBCC4;
}

.dark {
  color: white;
}

.grid {
  display: flex;
  gap: 20px;
  max-width: 1400px;
}

.imageBoxLarge {
  flex: 1.3;
  height: 800px;
  overflow: hidden;
  border-radius: 16px;
}

.imageBoxLarge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}


.price {
  font-size: 0.95rem;
  color: #9ca3af;
  font-weight: 300;
  margin: 0;
}

.productName {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 700;
  margin: 13px 0;
}

.description {
  font-size: 1.1rem;
  color: #9ca3af;
  font-weight: 300;
  margin: 0;
}

.features {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 13px;
  margin: 7px 0 15px 0;
}

.button {
  padding: 10px 22px;
  background: white;
  color: black;
  

  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  align-self: flex-start;
}

.button:hover {
  background: #2563eb;
}

@media (max-width: 968px) {

  .section {
  padding: 30px 5%;
}
  .title {
    font-size: 1.8rem;
  }
  
  .grid {
    flex-direction: column;
  }
  
  .imageBoxLarge {
    height: 400px;
  }
  
  .features {
    flex-direction: column;
    gap: 10px;
  }
}
